In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/NoblesLLM_Classes.csv')

NoblesLLM_Classes:
   Internal Class ID                 Course COURSE: Subject  \
0              33991           Wrestling JV       Athletics
1              36257       Alpine Skiing JV       Athletics
2              33938  Football Boys Varsity       Athletics
3              33939   Football Boys Junior       Athletics
4              33940    Soccer Boys Varsity       Athletics

             Description  Teacher ID School Year          Class ID
0           Wrestling JV     24243.0       18-19  WrstJV.W.2018.US
1       Alpine Skiing JV     24944.0       18-19      SkiJV.W.2018
2  Football Boys Varsity    225027.0       18-19   FblBV.F.2018.US
3   Football Boys Junior     23171.0       18-19  FblBJV.F.2018.US
4    Soccer Boys Varsity     24959.0       18-19   SocBV.F.2018.US

---

NoblesLLM_Enrollments:
   Enrollment ID  Internal Class ID  STUDENT: Person ID
0          40330            34775.0               10011
1          45862            34775.0               10014
2          56419            38561.0               10022
3          45616            34775.0               10045
4          56531            38561.0               10045

---

NoblesLLM_People:
   Person ID  Gender Current Grade             City  \
0      10001  Female           NaN          Raynham
1      10002  Female           NaN          Wayland
2      10003    Male           NaN        Brookline
3      10004  Female           NaN  Wellesley Hills
4      10005  Female           NaN           Dedham

                            Roles
0                   Alum '18, Vol
1        Alum '19, Sister of Alum
2  Alum '18, Vol, Brother of Alum
3          Alum '18, Vol, Sibling
4   Alum '18, Vol, Sister of Alum

---