In [1]:
import pandas as pd
import numpy as np

In [8]:
df1 = pd.read_csv('data/NoblesLLM_Classes.csv')
df1.head()

,Internal Class ID,Course,COURSE: Subject,Description,Teacher ID,School Year,Class ID
0,33991,Wrestling JV,Athletics,Wrestling JV,24243.0,18-19,WrstJV.W.2018.US
1,36257,Alpine Skiing JV,Athletics,Alpine Skiing JV,24944.0,18-19,SkiJV.W.2018
2,33938,Football Boys Varsity,Athletics,Football Boys Varsity,225027.0,18-19,FblBV.F.2018.US
3,33939,Football Boys Junior,Athletics,Football Boys Junior,23171.0,18-19,FblBJV.F.2018.US
4,33940,Soccer Boys Varsity,Athletics,Soccer Boys Varsity,24959.0,18-19,SocBV.F.2018.US

In [5]:
df2 = pd.read_csv('data/NoblesLLM_Enrollments.csv')
df2.head()

   Enrollment ID  Internal Class ID  STUDENT: Person ID
0          40330            34775.0               10011
1          45862            34775.0               10014
2          56419            38561.0               10022
3          45616            34775.0               10045
4          56531            38561.0               10045

In [6]:
df3 = pd.read_csv('data/NoblesLLM_People.csv')
df3.head()

,Person ID,Gender,Current Grade,City,Roles
0,10001,Female,NaN,Raynham,"Alum '18, Vol"
1,10002,Female,NaN,Wayland,"Alum '19, Sister of Alum"
2,10003,Male,NaN,Brookline,"Alum '18, Vol, Brother of Alum"
3,10004,Female,NaN,Wellesley Hills,"Alum '18, Vol, Sibling"
4,10005,Female,NaN,Dedham,"Alum '18, Vol, Sister of Alum"

In [10]:
# First merge Enrollments with Classes
df_class_enroll = pd.merge(
    left=df2,  # Enrollments
    right=df1,  # Classes
    on='Internal Class ID',
    how='left'
)
df_class_enroll.head()

,Enrollment ID,Internal Class ID,STUDENT: Person ID,Course,COURSE: Subject,Description,Teacher ID,School Year,Class ID
0,40330,34775.0,10011,Journalism I,US: English,Journalism - 1,26540.0,18-19,101001-1
1,45862,34775.0,10014,Journalism I,US: English,Journalism - 1,26540.0,18-19,101001-1
2,56419,38561.0,10022,Journalism I,US: English,Journalism - 1,20009.0,19-20,101001-1
3,45616,34775.0,10045,Journalism I,US: English,Journalism - 1,26540.0,18-19,101001-1
4,56531,38561.0,10045,Journalism I,US: English,Journalism - 1,20009.0,19-20,101001-1

In [11]:
# Then merge with People data
final_df = pd.merge(
    left=df_class_enroll,
    right=df3,  # People
    left_on='STUDENT: Person ID',
    right_on='Person ID',
    how='left'
)
final_df.head()

,Enrollment ID,Internal Class ID,STUDENT: Person ID,Course,COURSE: Subject,Description,Teacher ID,School Year,Class ID,Person ID,Gender,Current Grade,City,Roles
0,40330,34775.0,10011,Journalism I,US: English,Journalism - 1,26540.0,18-19,101001-1,10011.0,Female,NaN,Boston,"Alum '19, Sister of Alum"
1,45862,34775.0,10014,Journalism I,US: English,Journalism - 1,26540.0,18-19,101001-1,10014.0,Female,NaN,Milton,Alum '19
2,56419,38561.0,10022,Journalism I,US: English,Journalism - 1,20009.0,19-20,101001-1,10022.0,Female,NaN,Boston,"Alum '20, Vol"
3,45616,34775.0,10045,Journalism I,US: English,Journalism - 1,26540.0,18-19,101001-1,10045.0,Male,NaN,North Attleboro,"Alum '20, Vol, Brother of Alum"
4,56531,38561.0,10045,Journalism I,US: English,Journalism - 1,20009.0,19-20,101001-1,10045.0,Male,NaN,North Attleboro,"Alum '20, Vol, Brother of Alum"

In [15]:
# First merge Enrollments with Classes to get complete class information
df_class_enroll = pd.merge(
    left=df2,  # Enrollments
    right=df1,  # Classes
    on='Internal Class ID',
    how='left'
)

# Group by student and aggregate class information into a list
class_info = df_class_enroll.groupby('STUDENT: Person ID').apply(
    lambda x: x[['Course', 'COURSE: Subject', 'Internal Class ID', 'School Year']].to_dict('records')
).reset_index(name='Classes')

# Now merge with student information
final_df = pd.merge(
    left=class_info,
    right=df3,  # People
    left_on='STUDENT: Person ID',
    right_on='Person ID',
    how='left'
)

# Display the first row to see the structure
# print(final_df.iloc[0])
# print(final_df.head())
final_df.head()

/var/folders/80/ghh7mq_5367crl38_k3_k0lm0000gp/T/ipykernel_88984/3110599329.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  class_info = df_class_enroll.groupby('STUDENT: Person ID').apply(

,STUDENT: Person ID,Classes,Person ID,Gender,Current Grade,City,Roles
0,0,"[{'Course': nan, 'COURSE: Subject': nan, 'Inte...",NaN,NaN,NaN,NaN,NaN
1,10001,"[{'Course': nan, 'COURSE: Subject': nan, 'Inte...",10001.0,Female,NaN,Raynham,"Alum '18, Vol"
2,10002,"[{'Course': 'Ethics and Literature', 'COURSE: ...",10002.0,Female,NaN,Wayland,"Alum '19, Sister of Alum"
3,10003,"[{'Course': nan, 'COURSE: Subject': nan, 'Inte...",10003.0,Male,NaN,Brookline,"Alum '18, Vol, Brother of Alum"
4,10004,"[{'Course': nan, 'COURSE: Subject': nan, 'Inte...",10004.0,Female,NaN,Wellesley Hills,"Alum '18, Vol, Sibling"

In [28]:
import json

# Get the first student's record and convert to dictionary
student_record = final_df.iloc[10].to_dict()

# Print formatted JSON
print(json.dumps(student_record, indent=2))

{
  "STUDENT: Person ID": 10010,
  "Classes": [
    {
      "Course": "Madness in Literature",
      "COURSE: Subject": "US: English",
      "Internal Class ID": 34779.0,
      "School Year": "18-19"
    },
    {
      "Course": "Chimera: Mythology, Classical Lit",
      "COURSE: Subject": "US: English",
      "Internal Class ID": 34786.0,
      "School Year": "18-19"
    },
    {
      "Course": "Creative Writing",
      "COURSE: Subject": "US: English",
      "Internal Class ID": 34788.0,
      "School Year": "18-19"
    },
    {
      "Course": "AP Statistics",
      "COURSE: Subject": "US: Mathematics",
      "Internal Class ID": 34844.0,
      "School Year": "18-19"
    },
    {
      "Course": "Robotics",
      "COURSE: Subject": "US: Science",
      "Internal Class ID": 34892.0,
      "School Year": "18-19"
    },
    {
      "Course": "American History and Hollywood Film",
      "COURSE: Subject": "US: History and Social Science",
      "Internal Class ID": 34951.0,
      "School Year": "18-19"
    },
    {
      "Course": "History of Ancient Rome",
      "COURSE: Subject": "US: History and Social Science",
      "Internal Class ID": 34965.0,
      "School Year": "18-19"
    },
    {
      "Course": "AP Latin V",
      "COURSE: Subject": "US: Classics",
      "Internal Class ID": 35062.0,
      "School Year": "18-19"
    },
    {
      "Course": "Painting I",
      "COURSE: Subject": "US: Visual Arts",
      "Internal Class ID": 35094.0,
      "School Year": "18-19"
    },
    {
      "Course": "Advisor Meeting",
      "COURSE: Subject": "Advisory",
      "Internal Class ID": 35632.0,
      "School Year": "18-19"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 35365.0,
      "School Year": "18-19"
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34095.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34122.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34162.0,
      "School Year": NaN
    },
    {
      "Course": "The Musical",
      "COURSE: Subject": "Afternoon Program",
      "Internal Class ID": 34012.0,
      "School Year": "18-19"
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34152.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34153.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34512.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34513.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34514.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34503.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34574.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34563.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34219.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34220.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34209.0,
      "School Year": NaN
    },
    {
      "Course": "Theatre",
      "COURSE: Subject": "Afternoon Program",
      "Internal Class ID": 34014.0,
      "School Year": "18-19"
    },
    {
      "Course": "Theatre",
      "COURSE: Subject": "Afternoon Program",
      "Internal Class ID": 34018.0,
      "School Year": "18-19"
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 1262.0,
      "School Year": NaN
    }
  ],
  "Person ID": 10010.0,
  "Gender": "Male",
  "Current Grade": NaN,
  "City": "Milton",
  "Roles": "Alum '19, Vol, cfsf, Sibling of Prospect"
}

In [23]:
from faker import Faker
import random
import numpy as np

# Set up Faker with a fixed seed for reproducibility
fake = Faker()
Faker.seed(12345)

# Create a dictionary mapping student IDs to fake names
# Only include non-null IDs
student_ids = final_df['Person ID'].dropna().unique()
name_mapping = {}
for student_id in student_ids:
    name_mapping[student_id] = {
        'first_name': fake.first_name(),
        'last_name': fake.last_name()
    }

# Function to replace student ID with name in our records
def add_names_to_record(record):
    student_id = record['Person ID']
    record_copy = record.copy()
    
    # Check if student_id is valid (not NaN)
    if pd.notna(student_id) and student_id in name_mapping:
        record_copy['first_name'] = name_mapping[student_id]['first_name']
        record_copy['last_name'] = name_mapping[student_id]['last_name']
    else:
        # Handle missing IDs by generating a random name
        record_copy['first_name'] = fake.first_name()
        record_copy['last_name'] = fake.last_name()
    
    # Remove the ID fields (optional)
    del record_copy['Person ID']
    del record_copy['STUDENT: Person ID']
    
    return record_copy

# Create new dataframe with names
named_df = final_df.apply(lambda x: add_names_to_record(x), axis=1)

# Display an example student
print(json.dumps(named_df.iloc[10].to_dict(), indent=2))

# Optional: Display how many records had missing IDs
missing_ids = final_df['Person ID'].isna().sum()
print(f"\nNumber of records with missing IDs: {missing_ids}")

{
  "Classes": [
    {
      "Course": "Madness in Literature",
      "COURSE: Subject": "US: English",
      "Internal Class ID": 34779.0,
      "School Year": "18-19"
    },
    {
      "Course": "Chimera: Mythology, Classical Lit",
      "COURSE: Subject": "US: English",
      "Internal Class ID": 34786.0,
      "School Year": "18-19"
    },
    {
      "Course": "Creative Writing",
      "COURSE: Subject": "US: English",
      "Internal Class ID": 34788.0,
      "School Year": "18-19"
    },
    {
      "Course": "AP Statistics",
      "COURSE: Subject": "US: Mathematics",
      "Internal Class ID": 34844.0,
      "School Year": "18-19"
    },
    {
      "Course": "Robotics",
      "COURSE: Subject": "US: Science",
      "Internal Class ID": 34892.0,
      "School Year": "18-19"
    },
    {
      "Course": "American History and Hollywood Film",
      "COURSE: Subject": "US: History and Social Science",
      "Internal Class ID": 34951.0,
      "School Year": "18-19"
    },
    {
      "Course": "History of Ancient Rome",
      "COURSE: Subject": "US: History and Social Science",
      "Internal Class ID": 34965.0,
      "School Year": "18-19"
    },
    {
      "Course": "AP Latin V",
      "COURSE: Subject": "US: Classics",
      "Internal Class ID": 35062.0,
      "School Year": "18-19"
    },
    {
      "Course": "Painting I",
      "COURSE: Subject": "US: Visual Arts",
      "Internal Class ID": 35094.0,
      "School Year": "18-19"
    },
    {
      "Course": "Advisor Meeting",
      "COURSE: Subject": "Advisory",
      "Internal Class ID": 35632.0,
      "School Year": "18-19"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 35365.0,
      "School Year": "18-19"
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34095.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34122.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34162.0,
      "School Year": NaN
    },
    {
      "Course": "The Musical",
      "COURSE: Subject": "Afternoon Program",
      "Internal Class ID": 34012.0,
      "School Year": "18-19"
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34152.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34153.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34512.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34513.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34514.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34503.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34574.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34563.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34219.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34220.0,
      "School Year": NaN
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 34209.0,
      "School Year": NaN
    },
    {
      "Course": "Theatre",
      "COURSE: Subject": "Afternoon Program",
      "Internal Class ID": 34014.0,
      "School Year": "18-19"
    },
    {
      "Course": "Theatre",
      "COURSE: Subject": "Afternoon Program",
      "Internal Class ID": 34018.0,
      "School Year": "18-19"
    },
    {
      "Course": NaN,
      "COURSE: Subject": NaN,
      "Internal Class ID": 1262.0,
      "School Year": NaN
    }
  ],
  "Gender": "Male",
  "Current Grade": NaN,
  "City": "Milton",
  "Roles": "Alum '19, Vol, cfsf, Sibling of Prospect",
  "first_name": "William",
  "last_name": "Hernandez"
}

Number of records with missing IDs: 376

In [29]:
import pandas as pd
import numpy as np
from faker import Faker
import json
import random

# Set up Faker
fake = Faker()
Faker.seed(12345)

# Read data
df1 = pd.read_csv('data/NoblesLLM_Classes.csv')
df2 = pd.read_csv('data/NoblesLLM_Enrollments.csv')
df3 = pd.read_csv('data/NoblesLLM_People.csv')

# Filter out students with NaN grades
df3 = df3.dropna(subset=['Current Grade'])

# First merge Enrollments with Classes to get complete class information
df_class_enroll = pd.merge(
    left=df2,  # Enrollments
    right=df1,  # Classes
    on='Internal Class ID',
    how='left'
)

# Filter out NaN courses
df_class_enroll = df_class_enroll.dropna(subset=['Course'])

# Group by student and aggregate class information
class_info = df_class_enroll.groupby('STUDENT: Person ID').apply(
    lambda x: x[['Course', 'COURSE: Subject', 'Internal Class ID', 'School Year']].to_dict('records')
).reset_index(name='Classes')

# Merge with filtered student information
final_df = pd.merge(
    left=class_info,
    right=df3,  # Filtered People data
    left_on='STUDENT: Person ID',
    right_on='Person ID',
    how='inner'  # Changed to inner join to only keep matched students
)

# Create name mapping
student_ids = final_df['Person ID'].dropna().unique()
name_mapping = {
    student_id: {
        'first_name': fake.first_name(),
        'last_name': fake.last_name()
    } for student_id in student_ids
}

# Function to replace student ID with name
def add_names_to_record(record):
    student_id = record['Person ID']
    record_copy = record.copy()
    
    if pd.notna(student_id) and student_id in name_mapping:
        record_copy['first_name'] = name_mapping[student_id]['first_name']
        record_copy['last_name'] = name_mapping[student_id]['last_name']
    else:
        record_copy['first_name'] = fake.first_name()
        record_copy['last_name'] = fake.last_name()
    
    del record_copy['Person ID']
    del record_copy['STUDENT: Person ID']
    
    return record_copy

# Create final dataframe with names
named_df = final_df.apply(lambda x: add_names_to_record(x), axis=1)

# Display an example student
print(json.dumps(named_df.iloc[0].to_dict(), indent=2))

{
  "Classes": [
    {
      "Course": "Satire and Humor",
      "COURSE: Subject": "US: English",
      "Internal Class ID": 49407.0,
      "School Year": "24-25"
    },
    {
      "Course": "Page and Stage",
      "COURSE: Subject": "US: English",
      "Internal Class ID": 50260.0,
      "School Year": "24-25"
    },
    {
      "Course": "English II",
      "COURSE: Subject": "US: English",
      "Internal Class ID": 47584.0,
      "School Year": "23-24"
    },
    {
      "Course": "English III",
      "COURSE: Subject": "US: English",
      "Internal Class ID": 44541.0,
      "School Year": "22-23"
    },
    {
      "Course": "English IV",
      "COURSE: Subject": "US: English",
      "Internal Class ID": 42900.0,
      "School Year": "21-22"
    },
    {
      "Course": "English V",
      "COURSE: Subject": "MS: English MS",
      "Internal Class ID": 41254.0,
      "School Year": "20-21"
    },
    {
      "Course": "English via Latin",
      "COURSE: Subject": "MS: English MS",
      "Internal Class ID": 38617.0,
      "School Year": "19-20"
    },
    {
      "Course": "AP AB Calculus",
      "COURSE: Subject": "US: Mathematics",
      "Internal Class ID": 49457.0,
      "School Year": "24-25"
    },
    {
      "Course": "AP Statistics",
      "COURSE: Subject": "US: Mathematics",
      "Internal Class ID": 49466.0,
      "School Year": "24-25"
    },
    {
      "Course": "Precalculus Accelerated",
      "COURSE: Subject": "US: Mathematics",
      "Internal Class ID": 48557.0,
      "School Year": "23-24"
    },
    {
      "Course": "Statistics",
      "COURSE: Subject": "US: Mathematics",
      "Internal Class ID": 47631.0,
      "School Year": "23-24"
    },
    {
      "Course": "Algebra II",
      "COURSE: Subject": "US: Mathematics",
      "Internal Class ID": 44594.0,
      "School Year": "22-23"
    },
    {
      "Course": "Geometry - H",
      "COURSE: Subject": "US: Mathematics",
      "Internal Class ID": 42959.0,
      "School Year": "21-22"
    },
    {
      "Course": "Algebra I - H",
      "COURSE: Subject": "MS: Mathematics MS",
      "Internal Class ID": 41843.0,
      "School Year": "20-21"
    },
    {
      "Course": "Pre-Algebra",
      "COURSE: Subject": "MS: Mathematics MS",
      "Internal Class ID": 38674.0,
      "School Year": "19-20"
    },
    {
      "Course": "AP Environmental Science",
      "COURSE: Subject": "US: Science",
      "Internal Class ID": 49520.0,
      "School Year": "24-25"
    },
    {
      "Course": "Physics",
      "COURSE: Subject": "US: Science",
      "Internal Class ID": 47685.0,
      "School Year": "23-24"
    },
    {
      "Course": "Chemistry",
      "COURSE: Subject": "US: Science",
      "Internal Class ID": 44647.0,
      "School Year": "22-23"
    },
    {
      "Course": "Biology-H",
      "COURSE: Subject": "US: Science",
      "Internal Class ID": 43027.0,
      "School Year": "21-22"
    },
    {
      "Course": "Science V",
      "COURSE: Subject": "MS: Science MS",
      "Internal Class ID": 41838.0,
      "School Year": "20-21"
    },
    {
      "Course": "Science VI",
      "COURSE: Subject": "MS: Science MS",
      "Internal Class ID": 38740.0,
      "School Year": "19-20"
    },
    {
      "Course": "AP European History",
      "COURSE: Subject": "US: History and Social Science",
      "Internal Class ID": 47734.0,
      "School Year": "23-24"
    },
    {
      "Course": "US History: Themes in Modern America",
      "COURSE: Subject": "US: History and Social Science",
      "Internal Class ID": 44698.0,
      "School Year": "22-23"
    },
    {
      "Course": "History of the Human Community",
      "COURSE: Subject": "US: History and Social Science",
      "Internal Class ID": 43074.0,
      "School Year": "21-22"
    },
    {
      "Course": "Civics",
      "COURSE: Subject": "MS: History and Social Science MS",
      "Internal Class ID": 41836.0,
      "School Year": "20-21"
    },
    {
      "Course": "World Geography",
      "COURSE: Subject": "MS: History and Social Science MS",
      "Internal Class ID": 38795.0,
      "School Year": "19-20"
    },
    {
      "Course": "Spanish V-H",
      "COURSE: Subject": "US: Modern Languages",
      "Internal Class ID": 49611.0,
      "School Year": "24-25"
    },
    {
      "Course": "Spanish IV-H",
      "COURSE: Subject": "US: Modern Languages",
      "Internal Class ID": 47765.0,
      "School Year": "23-24"
    },
    {
      "Course": "Spanish III-H",
      "COURSE: Subject": "US: Modern Languages",
      "Internal Class ID": 44726.0,
      "School Year": "22-23"
    },
    {
      "Course": "Spanish II - H",
      "COURSE: Subject": "US: Modern Languages",
      "Internal Class ID": 43104.0,
      "School Year": "21-22"
    },
    {
      "Course": "Spanish B",
      "COURSE: Subject": "MS: Modern Language MS",
      "Internal Class ID": 41830.0,
      "School Year": "20-21"
    },
    {
      "Course": "Spanish A",
      "COURSE: Subject": "MS: Modern Language MS",
      "Internal Class ID": 38825.0,
      "School Year": "19-20"
    },
    {
      "Course": "Latin IV/V Prose",
      "COURSE: Subject": "US: Classics",
      "Internal Class ID": 48587.0,
      "School Year": "23-24"
    },
    {
      "Course": "Latin III",
      "COURSE: Subject": "US: Classics",
      "Internal Class ID": 44755.0,
      "School Year": "22-23"
    },
    {
      "Course": "Latin II",
      "COURSE: Subject": "US: Classics",
      "Internal Class ID": 43134.0,
      "School Year": "21-22"
    },
    {
      "Course": "Class V Latin",
      "COURSE: Subject": "MS: Classics MS",
      "Internal Class ID": 41817.0,
      "School Year": "20-21"
    },
    {
      "Course": "Ceramics I",
      "COURSE: Subject": "US: Visual Arts",
      "Internal Class ID": 50326.0,
      "School Year": "24-25"
    },
    {
      "Course": "Visual Arts V",
      "COURSE: Subject": "MS: Visual Arts MS",
      "Internal Class ID": 41807.0,
      "School Year": "20-21"
    },
    {
      "Course": "Visual Arts VI",
      "COURSE: Subject": "MS: Visual Arts MS",
      "Internal Class ID": 38871.0,
      "School Year": "19-20"
    },
    {
      "Course": "Introduction to Theatre",
      "COURSE: Subject": "US: Performing Arts",
      "Internal Class ID": 44797.0,
      "School Year": "22-23"
    },
    {
      "Course": "So You Think You Can't Dance",
      "COURSE: Subject": "US: Performing Arts",
      "Internal Class ID": 44800.0,
      "School Year": "22-23"
    },
    {
      "Course": "Drama V",
      "COURSE: Subject": "MS: Performing Arts MS",
      "Internal Class ID": 41806.0,
      "School Year": "20-21"
    },
    {
      "Course": "Music VI",
      "COURSE: Subject": "MS: Performing Arts MS",
      "Internal Class ID": 38925.0,
      "School Year": "19-20"
    },
    {
      "Course": "Drama VI",
      "COURSE: Subject": "MS: Performing Arts MS",
      "Internal Class ID": 38931.0,
      "School Year": "19-20"
    },
    {
      "Course": "Middle School Dance",
      "COURSE: Subject": "MS: Performing Arts MS",
      "Internal Class ID": 38939.0,
      "School Year": "19-20"
    },
    {
      "Course": "Introduction to Computer Principles",
      "COURSE: Subject": "US: Computer Science",
      "Internal Class ID": 38954.0,
      "School Year": "19-20"
    },
    {
      "Course": "Lunch Fall",
      "COURSE: Subject": "Lunch",
      "Internal Class ID": 46893.0,
      "School Year": "22-23"
    },
    {
      "Course": "Lunch Fall",
      "COURSE: Subject": "Lunch",
      "Internal Class ID": 47258.0,
      "School Year": "22-23"
    },
    {
      "Course": "P D II- Wellbeing",
      "COURSE: Subject": "US: Personal Development",
      "Internal Class ID": 48603.0,
      "School Year": "23-24"
    },
    {
      "Course": "P D III-Mindfulness",
      "COURSE: Subject": "US: Personal Development",
      "Internal Class ID": 44827.0,
      "School Year": "22-23"
    },
    {
      "Course": "P D III-Substance",
      "COURSE: Subject": "US: Personal Development",
      "Internal Class ID": 46933.0,
      "School Year": "22-23"
    },
    {
      "Course": "P D IV-Sex Ed",
      "COURSE: Subject": "US: Personal Development",
      "Internal Class ID": 43212.0,
      "School Year": "21-22"
    },
    {
      "Course": "P D V",
      "COURSE: Subject": "MS: Personal Development MS",
      "Internal Class ID": 41778.0,
      "School Year": "20-21"
    },
    {
      "Course": "P D VI",
      "COURSE: Subject": "MS: Personal Development MS",
      "Internal Class ID": 38990.0,
      "School Year": "19-20"
    },
    {
      "Course": "Lunch Spring",
      "COURSE: Subject": "Lunch",
      "Internal Class ID": 44934.0,
      "School Year": "22-23"
    },
    {
      "Course": "Study Hall - Fall",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 43782.0,
      "School Year": "21-22"
    },
    {
      "Course": "Study Hall - Fall",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 43829.0,
      "School Year": "21-22"
    },
    {
      "Course": "Study Hall - Fall",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 43833.0,
      "School Year": "21-22"
    },
    {
      "Course": "Study Hall - Fall",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 43899.0,
      "School Year": "21-22"
    },
    {
      "Course": "Study Hall - Spring",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 44398.0,
      "School Year": "21-22"
    },
    {
      "Course": "Study Hall - Spring",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 44427.0,
      "School Year": "21-22"
    },
    {
      "Course": "Study Hall: MS",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 39095.0,
      "School Year": "19-20"
    },
    {
      "Course": "Study Hall: MS",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 39098.0,
      "School Year": "19-20"
    },
    {
      "Course": "Study Hall: MS",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 41906.0,
      "School Year": "20-21"
    },
    {
      "Course": "Study Hall: MS",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 42459.0,
      "School Year": "20-21"
    },
    {
      "Course": "Study Hall - Fall",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 42612.0,
      "School Year": "20-21"
    },
    {
      "Course": "Study Hall: MS",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 39114.0,
      "School Year": "19-20"
    },
    {
      "Course": "Study Hall: MS",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 39115.0,
      "School Year": "19-20"
    },
    {
      "Course": "R-Block",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 41724.0,
      "School Year": "20-21"
    },
    {
      "Course": "R-Block",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 39140.0,
      "School Year": "19-20"
    },
    {
      "Course": "R-Block",
      "COURSE: Subject": "Study Hall",
      "Internal Class ID": 42402.0,
      "School Year": "20-21"
    },
    {
      "Course": "Lunch/Study Hall",
      "COURSE: Subject": "Lunch",
      "Internal Class ID": 39141.0,
      "School Year": "19-20"
    },
    {
      "Course": "Lunch/Study Hall",
      "COURSE: Subject": "Lunch",
      "Internal Class ID": 39142.0,
      "School Year": "19-20"
    },
    {
      "Course": "Lunch/Study Hall",
      "COURSE: Subject": "Lunch",
      "Internal Class ID": 39143.0,
      "School Year": "19-20"
    },
    {
      "Course": "Lunch/Study Hall",
      "COURSE: Subject": "Lunch",
      "Internal Class ID": 39148.0,
      "School Year": "19-20"
    },
    {
      "Course": "Admission Tour/Interview",
      "COURSE: Subject": "Admissions: Tours/Interviews",
      "Internal Class ID": 47153.0,
      "School Year": "22-23"
    },
    {
      "Course": "Admission Tour/Interview",
      "COURSE: Subject": "Admissions: Tours/Interviews",
      "Internal Class ID": 48824.0,
      "School Year": "23-24"
    },
    {
      "Course": "Admission Tour/Interview",
      "COURSE: Subject": "Admissions: Tours/Interviews",
      "Internal Class ID": 50855.0,
      "School Year": "24-25"
    },
    {
      "Course": "Advisor Meeting MS",
      "COURSE: Subject": "Advisory",
      "Internal Class ID": 39371.0,
      "School Year": "19-20"
    },
    {
      "Course": "Advisor Meeting MS",
      "COURSE: Subject": "Advisory",
      "Internal Class ID": 42002.0,
      "School Year": "20-21"
    },
    {
      "Course": "Advisor Meeting",
      "COURSE: Subject": "Advisory",
      "Internal Class ID": 44173.0,
      "School Year": "21-22"
    },
    {
      "Course": "Advisor Meeting",
      "COURSE: Subject": "Advisory",
      "Internal Class ID": 47000.0,
      "School Year": "22-23"
    },
    {
      "Course": "Advisor Meeting",
      "COURSE: Subject": "Advisory",
      "Internal Class ID": 48061.0,
      "School Year": "23-24"
    },
    {
      "Course": "Advisor Meeting",
      "COURSE: Subject": "Advisory",
      "Internal Class ID": 49986.0,
      "School Year": "24-25"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 44466.0,
      "School Year": "21-22"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 45042.0,
      "School Year": "22-23"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 45043.0,
      "School Year": "22-23"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 44510.0,
      "School Year": "21-22"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 50639.0,
      "School Year": "24-25"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 50028.0,
      "School Year": "24-25"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 48100.0,
      "School Year": "23-24"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 45051.0,
      "School Year": "22-23"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 43219.0,
      "School Year": "21-22"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 41859.0,
      "School Year": "20-21"
    },
    {
      "Course": "Assembly MS",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 39170.0,
      "School Year": "19-20"
    },
    {
      "Course": "Basketball Girls Middle School",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 36541.0,
      "School Year": "19-20"
    },
    {
      "Course": "Basketball Girls Middle School",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 39805.0,
      "School Year": "20-21"
    },
    {
      "Course": "Basketball Girls JV",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 47515.0,
      "School Year": "23-24"
    },
    {
      "Course": "Basketball Girls JV",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 49322.0,
      "School Year": "24-25"
    },
    {
      "Course": "College Counseling",
      "COURSE: Subject": "US: College Counseling",
      "Internal Class ID": 47556.0,
      "School Year": "22-23"
    },
    {
      "Course": "College Counseling",
      "COURSE: Subject": "US: College Counseling",
      "Internal Class ID": 50055.0,
      "School Year": "24-25"
    },
    {
      "Course": "College Counseling",
      "COURSE: Subject": "US: College Counseling",
      "Internal Class ID": 48114.0,
      "School Year": "23-24"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 45077.0,
      "School Year": "22-23"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 50067.0,
      "School Year": "24-25"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 48125.0,
      "School Year": "23-24"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 44347.0,
      "School Year": "21-22"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 44376.0,
      "School Year": "21-22"
    },
    {
      "Course": "Assembly",
      "COURSE: Subject": "Assembly",
      "Internal Class ID": 45082.0,
      "School Year": "22-23"
    },
    {
      "Course": "Algebra I - H",
      "COURSE: Subject": "MS: Mathematics MS",
      "Internal Class ID": 42440.0,
      "School Year": "20-21"
    },
    {
      "Course": "Junior Exempt",
      "COURSE: Subject": "Afternoon Program",
      "Internal Class ID": 48215.0,
      "School Year": "23-24"
    },
    {
      "Course": "Lacrosse Girls Middle School",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 36516.0,
      "School Year": "19-20"
    },
    {
      "Course": "Lacrosse Girls Middle School",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 39894.0,
      "School Year": "20-21"
    },
    {
      "Course": "Lacrosse Girls JV",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 43701.0,
      "School Year": "21-22"
    },
    {
      "Course": "Lacrosse Girls JV",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 46819.0,
      "School Year": "22-23"
    },
    {
      "Course": "Lacrosse Girls JV",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 49295.0,
      "School Year": "24-25"
    },
    {
      "Course": "Lunch Fall",
      "COURSE: Subject": "Lunch",
      "Internal Class ID": 41914.0,
      "School Year": "20-21"
    },
    {
      "Course": "Lunch Fall",
      "COURSE: Subject": "Lunch",
      "Internal Class ID": 42607.0,
      "School Year": "20-21"
    },
    {
      "Course": "Lunch Fall",
      "COURSE: Subject": "Lunch",
      "Internal Class ID": 42608.0,
      "School Year": "20-21"
    },
    {
      "Course": "Lunch Fall",
      "COURSE: Subject": "Lunch",
      "Internal Class ID": 42394.0,
      "School Year": "20-21"
    },
    {
      "Course": "Soccer Girls Middle School",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 36566.0,
      "School Year": "19-20"
    },
    {
      "Course": "Soccer Girls Middle School",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 39868.0,
      "School Year": "20-21"
    },
    {
      "Course": "Soccer Girls JV",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 43570.0,
      "School Year": "21-22"
    },
    {
      "Course": "Soccer Girls Varsity",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 46827.0,
      "School Year": "22-23"
    },
    {
      "Course": "Soccer Girls Varsity",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 47517.0,
      "School Year": "23-24"
    },
    {
      "Course": "Soccer Girls Varsity",
      "COURSE: Subject": "Athletics",
      "Internal Class ID": 49369.0,
      "School Year": "24-25"
    },
    {
      "Course": "Strength and Conditioning Winter",
      "COURSE: Subject": "Afternoon Program",
      "Internal Class ID": 43641.0,
      "School Year": "21-22"
    },
    {
      "Course": "Strength and Conditioning Winter",
      "COURSE: Subject": "Afternoon Program",
      "Internal Class ID": 45239.0,
      "School Year": "22-23"
    }
  ],
  "Gender": "Female",
  "Current Grade": "Grade 12",
  "City": "Brookline",
  "Roles": "Student (I-D)",
  "first_name": "Robert",
  "last_name": "Smith"
}

/var/folders/80/ghh7mq_5367crl38_k3_k0lm0000gp/T/ipykernel_88984/2754633183.py:31: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  class_info = df_class_enroll.groupby('STUDENT: Person ID').apply(

In [32]:
# Take a random sample of 100 students
sampled_df = named_df.sample(n=2, random_state=42)  # random_state for reproducibility

# Export to CSV
sampled_df.to_csv('data/nobles_sample_2.csv', index=False)

# Print shape to confirm
print(f"Original dataset shape: {named_df.shape}")
print(f"Sampled dataset shape: {sampled_df.shape}")

# Display first few rows to verify content
print("\nFirst few rows of sampled dataset:")
print(sampled_df.head())

Original dataset shape: (632, 7)
Sampled dataset shape: (2, 7)

First few rows of sampled dataset:
                                               Classes  Gender Current Grade  \
328  [{'Course': 'English II', 'COURSE: Subject': '...  Female      Grade 11
247  [{'Course': 'English IV', 'COURSE: Subject': '...  Female       Grade 9

             City           Roles first_name last_name
328        Weston  Student (II-D)      Corey  Anderson
247  West Roxbury  Student (IV-D)      Linda     Clark